body {
  position: relative;
  left: 10px;
  top: 30px;
  background-color: #d0e4f4;
}
h1 {
  padding-top: 10px;
  padding-left: 30px;
  color: #090089;
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  color: #090089;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  background: #91ceff;
  border: 1px solid #090089;
  border-radius: 30px;
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
  max-width: 600px;
  margin: 30px auto;
  font-family: "Source Sans Pro", sans-serif;
  margin-bottom: 10px;
}

.current-time {
  font-size: 17px;
  padding-left: 30px;
}

.current-forecast {
  text-align: center;
}

.current-temp {
  font-size: 40px;
}

.description {
  text-transform: capitalize;
}

.units {
  position: relative;
  top: -18px;
}

.additional-details {
  font-size: 18px;
  padding-right: 100px;
  padding-top: 10px;
}
.form-control {
  position: relative;
  top: 10px;
  right: 15px;
}

.forecast {
  text-align: center;

  padding-bottom: 25px;
  color: #090089;
  margin-left: 80px;
}

.forecast-date {
  font-size: 18px;
}

.forecast-temperature {
  font-size: 15px;
}

.forecast-temperature-min {
  opacity: 0.5;
}

.current-location-button {
  position: relative;
  top: 10px;
  left: 40px;
  padding: 5px 10px;
  border-radius: 10px;
  background: #090089;
  color: #fff;
  border: 1px solid #090089;
  box-shadow: rgb(9 0 137 / 8%) 0px 8px 8px 0;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.current-location-button:hover {
  background: #fff;
  color: #090089;
}
.github-link {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  text-align: center;
}
